<div class="main container-fluid">
  <div class="row d-flex justify-content-center align-self-center">
    <div class="col-lg-7">
      <mat-card class="card d-flex flex-column justify-content-around">
        <h3 class="text-center header">{{ currentChat?.name }}</h3>
        <mat-card-content #scrollMe class="card-content">
          <div
            class="text-center empty-chat"
            *ngIf="messages.length === 0 && !isLoading"
          >
            Chat is empty. Start messaging now
          </div>
          <div *ngIf="isLoading">
            <app-spinner></app-spinner>
          </div>
          <div
            id="messages-box"
            *ngFor="let message of messages; index as i"
            class="message-field"
          >
            <div
              [class.myMessage]="isMyMessage(message.sender.id)"
              class="msg-wrapper d-flex align-items-center"
            >
              <img
                *ngIf="isAvatarNeedToBeDisplayed(message.sender.id, i)"
                width="40"
                height="40"
                class="rounded-circle"
                [src]="createImgPath(message.sender.profileImage?.imagePath)"
              />
              <div
                class="message"
                [class.padWithoutImage]="
                  !isAvatarNeedToBeDisplayed(message.sender.id, i) &&
                  !isMyMessage(message.sender.id)
                "
              >
                <div>
                  <small class="details">{{ message.sender.userName }}</small>
                </div>
                <div class="content">
                  {{ message.content }}
                </div>
                <div class="time details">
                  {{ message.sendingDate | date: "medium" }}
                </div>
                {{ i === messages.length - 1 ? scrollToBottom() : null }}
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="input_msg_write d-flex justify-content-center">
            <input
              type="text"
              [value]="txtMessage"
              (input)="txtMessage = $event.target.value"
              (keydown.enter)="sendMessage()"
              placeholder="Type a message"
            />
            <button
              class="send-btn"
              mat-raised-button
              type="button"
              (click)="sendMessage()"
              [disabled]="isMessageSending"
            >
              <i class="fas fa-paper-plane"></i>
              <span class="spinner" *ngIf="isMessageSending">
                <app-spinner [diameter]="20"></app-spinner>
              </span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
