.container-fluid {
  padding-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../../assets/images/journey-card-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  .row {
    padding: 20px;
    background-image: none;
    background-color: rgba(92, 83, 71, 0.582);
    border-radius: 10px;
    .emptyJourneys {
      color: blanchedalmond;
      font-family: "Montserrat", sans-serif;
      .create-link {
        color: white;
      }
    }
    .header {
      color: blanchedalmond;
      font-family: "Montserrat", sans-serif;
    }
  }
}

ng-scrollbar {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: rgba(183, 205, 228, 0.5);
  --scrollbar-thumb-hover-color: rgba(126, 171, 219, 0.5);
  --scrollbar-border-radius: 4px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.123);
}
