<div class="welcome-page container-fluid mb-5">
  <div class="row d-flex justify-content-between mb-5">
    <div class="col-lg-3 col-md-5 col-sm-5 col-4">
      <div class="row d-flex justify-content-center pt-3">
        <div class="col-lg-4 col-md-4 col-sm-5 logo-wrapper">
          <img class="logo" src="../../../assets/images/logo.png" alt="logo" />
        </div>
        <div
          class="col-lg-6 col-md-6 col-sm-4 brand d-flex align-items-center p-0"
        >
          <h4>Awesome Travel</h4>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-md-4 col-sm-5 col-8 d-flex justify-content-around align-items-center"
    >
      <a mat-button class="signIn" routerLink="/login">Sign In</a>
      <a mat-button class="signUp" routerLink="/register">Sign Up</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-8 description">
      <h2 class="mb-4">Welcome To Awesome Travel!</h2>
      <p class="desc-text">
        Is there anything better than travelling with friends? We don’t think
        so, either! Whether you want to cruise along still rivers, hike to
        incredible sites like Machu Picchu, spot the Big Five on a safari, or
        just relax on a beach, everything’s better together – including travel!
        There’s so much to say about how amazing it is to travel with friends.
        For example, travelling in groups can be much more affordable than
        travelling alone. Also Travelling with others can offer an added level
        of safety compared to when you are travelling by yourself.
      </p>
    </div>
  </div>
  <section id="section02" class="demo">
    <a (click)="onScrollDownClick($event)"><span></span></a>
  </section>
</div>
<main id="main-content" class="container">
  <div class="row mb-5">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="../../../assets/images/friends.jpg"
              class="card-img"
              alt="friends"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Friendship</h5>
              <p class="card-text">
                We all travel for a reason. Whether it is for the experience,
                the thirst of adventure, the time you want to spend with your
                friends and partner. But what if you have no one to go on
                vacation with, and you don't want to go yourself? The answer is
                very simple:
                <u>
                  our service will come to your aid, which will allow you to
                  choose an excellent company for a joint pastime.</u
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="row no-gutters d-flex flex-row-reverse">
          <div class="col-md-4">
            <img
              src="../../../assets/images/card-image-2.jpg"
              class="card-img"
              alt="travel"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Complete safety</h5>
              <p class="card-text">
                You can rest assured about your safety while traveling, because
                our company employs only qualified and experienced employees. In
                addition, you can take out insurance for free.In case of any
                problems, we will provide full compensation, both monetary and
                moral. You can always contact us for help.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="../../../assets/images/card-image-3.jpg"
              class="card-img"
              alt="travel"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Unforgettable emotions</h5>
              <p class="card-text">
                We are professionals. We will not torment you in stuffy bus and
                bore with history facts. But we will acquaint you with the most
                beautiful places in the World, help to retreat, forget about the
                past and the future, experience exciting emotions, get vivid
                impressions and live here and now. Trust us and forget about
                thinking where to go and what to do.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container-fluid places">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Where to go?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-5">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Venice</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../../assets/images/venice.jpg"
          alt="Venice"
        />
        <mat-card-content>
          <p>
            Venice, Italian Venezia, city, major seaport, and capital of both
            the provincia (province) of Venezia and the regione (region) of
            Veneto, northern Italy. An island city, it was once the centre of a
            maritime republic. It was the greatest seaport in late medieval
            Europe and the continent’s commercial and cultural link to Asia.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-5">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>London</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../../assets/images/London.jpg"
          alt="Venice"
        />
        <mat-card-content>
          <p>
            Welcome to London! Discover the best of London with Visit London,
            the official guide to England’s exciting capital. Find things to do
            in London, from iconic sightseeing spots and fun-filled days out to
            top restaurants, theatre and unmissable London events.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-5">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Alps</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../../assets/images/Alps.jpg"
          alt="Venice"
        />
        <mat-card-content>
          <p>
            World-famous, beautiful, charming and exciting, the Alps often sound
            more like movie stars than mountains. Austria, France, Germany,
            Italy, Slovenia and Switzerland each offer an assortment of winter
            and summer sports, National Parks, and scenic tours on this
            legendary mountain range arcing 750 miles from Genoa to Vienna.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-5">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Sydney</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="../../../assets/images/Sydney.jpg"
          alt="Venice"
        />
        <mat-card-content>
          <p>
            Sydney is the first stop on many Australian itineraries, and for
            good reason. It's an inviting blend of the exhilarating and
            easygoing. You can find excitement in the city, but drive just a few
            kilometres and you'll hit the golden sand of famous beaches like
            Bondi and Manly. Plus, with endless nature at its doorstep, Sydney
            is the starting point for day trips serving up fresh air, unique
            flavours and locals.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<footer id="footer" class="footer d-flex align-items-center flex-column p-3">
  <div class="footer-wrap col-lg-9">
    <div class="container">
      <div class="row">
        <div class="footer-links col-md-12 shadow">
          <div class="mb-5 d-flex justify-content-center pt-5">
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x">
              </i>
            </a>
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x">
              </i>
            </a>
            <a class="gplus-ic">
              <i
                class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"
              >
              </i>
            </a>
            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x">
              </i>
            </a>
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x">
              </i>
            </a>
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      © 2020 Copyright:
      <a href="#"> AwesomeTravel.com</a>
    </div>
  </div>
</footer>
